default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  host: <%= ENV['DATABASE_HOST'] %>
  port: <%= ENV['DATABASE_PORT'] || '5432' %>'

development:
  <<: *default
  database: rubychat_development

test:
  <<: *default
  database: rubychat_test

production:
  <<: *default
  database: rubychat_production
  username: rubychat
  password: <%= ENV["RUBYCHAT_DATABASE_PASSWORD"] %>
